<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClimbUpTheGithubTree</title>

    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <!-- js & jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <!-- chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://unpkg.com/chartkick@2.3.3"></script>
    <script src="https://unpkg.com/vue-chartkick@0.2.1/dist/vue-chartkick.js"></script>

</head>
<body>
   
   <h1>Welcome to Rauls World</h1>
    

	<p>Hi</p>
	<div id="app">

		<p>0. Searchbar</p>
		<input v-model='keyword' v-on:keyup.enter='compareProfile' type="text" name="Search" placeholder="Type profile name to compare and press enter">

		<p>1. Main Table</p>
		<table>
			<thead>
				<tr>
					<th>Nickname</th>
					<th>Full name</th>
					<th>Photo</th>
					<th>User / Follow</th>
					<th>User / Followed by</th>
					<th>User / Post no</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in mainArray">
					<td>
						{{item.username}}
					</td>
					<td>
						{{item.full_name}}
					</td>
					<td>
						<img :src="item.profile_pic_url">
					</td>
					<td>
						{{item.edge_follow.count}}
					</td>
					<td>
						{{item.edge_followed_by.count}}
					</td>
					<td>
						{{item.edge_owner_to_timeline_media.count}}
					</td>
				</tr>
			</tbody>
		</table>

		<p>2. First posts from every person</p>

		<table>
			<tr>
				<td>Name</td>
				<!-- <td>First photo</td> -->
				<td>No of likes</td>
			</tr>			
			<tr v-for="item in mainArray">
				<td>{{item.full_name}}</td>
				<!-- <td> <img :src="item.edge_owner_to_timeline_media.edges[0].node.display_url"></td> -->
				<td>{{item.edge_owner_to_timeline_media.edges[0].node.edge_liked_by.count}}</td>
			</tr>
		</table>

		<p>3. List of posts from first person</p>

		<div class="posts">
			<div v-for="item in onePerson" class="card">
				<div>
					<img :src="item.node.display_url">
					<p>Text: {{item.node.edge_media_to_caption.edges[0].node.text}}</p>
					<p>Liked by: {{item.node.edge_liked_by.count}}</p>
					<p>No of comments: {{item.node.edge_media_to_comment.count}}</p>
				</div>
			</div>
		</div>

		<p>4. Chart avg likes per post for every person</p>

		<div>
			<pie-chart :data="chartAvg" :donut="true" label="Average no of likes per post"></pie-chart>
		</div>

		<p>5. Chart followedby</p>

		<div>
			<bar-chart :data="chartFollowedByAll" xtitle="Follow by ..."></bar-chart>
		</div>

		<p>6. Chart likes in posts</p>

		<div>
			<line-chart :data="chartLikesInPosts" height="650px" xtitle="No of likes for last 12 posts"></line-chart>
		</div>

	</div>

<!-- random pofile -->
	<script src="scripts/t100instaProf.js"></script>

<!-- main script -->
	<script src="scripts/main.js"></script>

</body>
</html>
